.card {
  aspect-ratio: 1/1;
  position: relative;
}

.card img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  border-box: border-box;
}

.card .front {
  border: 1px solid #555;
  border-radius: 12px;
  box-sizing: border-box;
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.card .back:hover {
  border: 1px solid rgba(255, 229, 138, 0.73);
  background: rgba(202, 175, 78, 0.32);
  box-shadow: 0px 0px 13.8px 0px rgba(202, 175, 78, 0.3);
  transition: all ease-in-out 0.2s;
  transition-delay: 0s;
}

.flipped {
  height: 100%;
}

.flipped .front {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .not-flipped {
  height: 100%;
  aspect-ratio: 1/1;
}

.card .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #555;
  background: #2d2d2d;
  box-shadow: 0px 0px 10.9px 3px rgba(255, 255, 255, 0.02);
  transition: transform 0.2s ease-in-out 0.2s, border 0.2s ease-in-out 0s, background 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
