.App {
  max-width: 860px;
  margin: 40px auto;
}

.App h1 {
  color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
  background: #2D2D2D;
  border: 1.125px solid #555;
  padding: 6px 12px;
  border-radius: 112.5px;
  color: #fff;
  font-style: normal;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.front {
  max-width: 75%;
  max-height: 75%;
}