.App {
  max-width: 860px;
  margin: 40px auto;
  display: flex;
    width: 1475px;
    padding: 144px 64px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.App h1 {
  color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title{
  width: 203px;
  color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: left;
}


button {
  display: flex;
    padding: 9px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 112.5px;
      border: 1.125px solid #555;
      background: #2D2D2D;
      color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        cursor: pointer;
}

.left-container {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.front {
  max-width: 75%;
  max-height: 75%;
}